.svgCurve {
	position: absolute;
	top: 0;
	left: -99px;
	width: 100px;
	height: 100%;
	fill: #000;
	stroke: none;
}

// linear-gradient(
// 		180deg,
// 		rgba(226, 231, 213, 1) 0%,
// 		rgba(167, 182, 118, 1) 50%
// 	);
