.menu {
	height: 100vh;
	// background: linear-gradient(
	// 	180deg,
	// 	rgba(226, 231, 213, 1) 0%,
	// 	rgba(167, 182, 118, 1) 60%
	// );
	background: #000000;
	// background: rgba(167, 182, 118, 1);
	position: fixed;
	right: 0;
	top: 0;
	color: var(--gold);
	// border-left: 3px solid #fff;
	z-index: 50;

	.body {
		box-sizing: border-box;
		height: 100%;
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.nav {
			display: flex;
			flex-direction: column;
			font-size: 30px;
			gap: 26px;
			margin-top: 20px;

			.header {
				color: white;
				color: var(--gold);

				border-bottom: 1px solid #fff;
				text-transform: uppercase;
				font-size: 11px;
				margin-bottom: 0px;
			}

			a {
				text-decoration: none;
				color: white;
				color: var(--gold);

				font-weight: 300;
			}
		}
	}
}
